* {
  font-family: "Work Sans", sans-serif;
}

/* Common styles */
.btn-primary {
  border-radius: 8px;
  color: #fff;
  background-color: #ff900e;
  padding: 20px 25px;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
}

.section-title {
  font-size: 2.8rem;
  color: #131313;
  font-weight: 700;
}

.text-light-grey {
  color: #727272;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 2.8rem;
  color: #131313;
  font-weight: 700;
}

.list-ar > ul {
  display: flex;
  gap: 30px;
}

.list-ar li {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}

.list-ar li a {
  text-decoration: none;
  color: #424242;
}

/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  color: #727272;
}

.banner img {
  margin-top: 20px;

  width: 100%;
}

main {
  max-width: 1440px;
  margin: 70px auto;
}

.teams-container {
  display: flex;
  align-items: center;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.teams-content {
  padding: 0 70px;
}

.teams-title {
  font-size: 2.8rem;
}

.teams-title .quick-list1 {
  color: #727272;
  font-weight: 500;
}

.teams-title .quick-list2 {
  color: #131313;
  font-weight: 700;
}

.teams-title .quick-list3 {
  color: #ff900e;
  font-weight: 700;
}

.features {
  margin-top: 130px;
  display: flex;
  gap: 100px;
}

.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

.feature-content .card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-img img {
  height: 90%;
  margin-left: 50px;
}

.ten-years-badge {
  border-radius: 8px;
  background-color: #ff900e;
  color: #fff;
  width: 342px;
  padding: 40px;
  text-align: center;
  position: relative;
}

.ten-years-badge h2 {
  font-size: 4rem;
  margin: 0;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}

.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.24rem;
  margin-top: 5px;
}

.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin: 10px 0;
}

.sponsors {
  text-align: center;
}

.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.sponsors-img-container img {
  width: 165px;
}

/* responsive media queries */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  .teams-container,
  .features,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }

  .feature-img img {
    width: 100%;
    margin-left: 0;
  }

  .ten-years-badge {
    position: static;
    min-width: 300px;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
  }

  .teams-content,
  .facts-card-container {
    padding: 0 20px;
  }

  .facts-card-container {
    gap: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }

  nav,
  .features,
  .teams-container,
  .sponsors-img-container {
    flex-direction: column;
  }
}
